@import '../../design-tokens/scss-variables';

.btn {
	font-size: $size-md;
	text-transform: uppercase;
	margin: 0 $spacer-xs;
	padding: $spacer-sm $spacer-xxl;
	transition: all 0.3s;

	@media (max-width: 1200px) {
		font-size: $size-sm;
	}

	@media (max-width: 992px) {
		font-size: $size-md;
	}

	@media (max-width: 768px) {
		width: 100%;
		font-size: $size-sm;
		margin: 0;
	}
}

.btn-primary {
	color: $color-pink;
	background-color: transparent;
	border: 1px solid $color-pink;

	&:hover {
		color: $color-white;
		background-color: $color-pink;
	}
}
