@import '../../design-tokens/scss-variables';

.text {
	width: 100%;
	color: $color-white;
	letter-spacing: 1.25px;
	text-transform: uppercase;
	text-align: center;
	line-height: 2.5;
}

.about-text {
	font-size: $size-md;
	font-weight: 200;
	transform: translateY(-10%);

	@media (max-width: 1200px) {
		font-size: $size-sm;
	}

	@media (max-width: 992px) {
		transform: initial;
	}

	@media (max-width: 576px) {
		font-size: $size-xs;
	}

	@media (max-width: 320px) {
		font-size: $size-xxs;
	}
}
