@import '../../design-tokens/scss-variables';

.modal-overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: $spacer-md $spacer-md;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;

	.modal {
		background-color: $color-black;
		position: relative;
		z-index: 1000;

		&-text {
			font-size: $size-md;
			font-weight: 200;
			text-transform: uppercase;
			text-align: center;
			letter-spacing: 1.25px;
			line-height: 1.75;

			@media (max-width: 768px) {
				font-size: $size-sm;
			}
		}

		&-close-btn {
			font-size: $size-xxl;
			font-weight: 700;
			color: transparentize($color-pink, 0.3);
			background-color: transparent;
			padding: 0;
			position: absolute;
			top: 0;
			right: 3px;
			border: none;
			transition: all 0.3s;

			@media (max-width: 992px) {
				font-size: $size-xl;
			}

			@media (max-width: 768px) {
				font-size: $size-lg;
			}

			@media (max-width: 576px) {
				font-size: $size-md;
				top: 1px;
			}

			&:hover {
				color: $color-white;
			}
		}
	}

	.subscribe-modal,
	.contact-modal {
		width: 75vw;
		min-height: 25vh;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: $spacer-xl $spacer-sm;
		border: 5px solid transparentize($color-pink, 0.3);
		box-sizing: border-box;
	}

	.video-modal {
		width: 100%;
		height: 0;
		position: relative;
		padding-bottom: 52%;
		border: 5px solid $color-pink;
		box-sizing: border-box;
		box-shadow: -5px 0px 20px -5px $color-pink, 0px -10px 20px -10px $color-pink, 5px 0px 20px -5px $color-pink,
			0px 5px 20px -5px $color-pink;

		@media (max-width: 992px) {
			padding-bottom: 60%;
		}

		@media only screen and (max-width: 992px) and (orientation: landscape) {
			padding-bottom: 55%;
		}

		@media (max-width: 576px) {
			padding-bottom: 65%;
			box-shadow: -5px 0px 15px -5px $color-pink, 0px -10px 15px -10px $color-pink, 5px 0px 15px -5px $color-pink,
				0px 5px 15px -5px $color-pink;
		}

		@media only screen and (max-width: 576px) and (orientation: landscape) {
			padding-bottom: 45%;
		}
	}
}

.modal-open {
	overflow: hidden;
}
