// Colors
$color-black: #000000;
$color-pink: #eb4eb4;
$color-grey: #a0a0a0;
$color-light-grey: #e0e0e0;
$color-dark-grey: #3d3d3d;
$color-white: #ffffff;
$color-light-blue: #4de4ff;

// Font-Size
$size-xxs: 1rem; // 10px
$size-xs: 1.2rem; // 12px
$size-sm: 1.4rem; // 14px
$size-md: 1.6rem; // 16px
$size-lg: 1.8rem; // 18px
$size-xl: 2rem; // 20px
$size-xxl: 2.4rem; // 24px

// Spacing
$spacer-xxs: 0.4rem; // 4px
$spacer-xs: 0.8rem; // 8px
$spacer-sm: 1.2rem; // 12px
$spacer-md: 1.6rem; // 16px
$spacer-lg: 2rem; // 20px
$spacer-xl: 2.4rem; // 24px
$spacer-xxl: 2.8rem; // 28px
