@import '../../design-tokens/scss-variables';

.audio-collection {
	padding: $spacer-xl * 2 $spacer-md;
	box-sizing: border-box;

	.audio-collection-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}
