@import '../../design-tokens/scss-variables';

.contact {
	min-height: calc(100vh - 95.34px);
	display: flex;
	padding: $spacer-xl * 3 $spacer-md;
	box-sizing: border-box;

	@media (max-width: 768px) {
		min-height: unset;
	}

	&-container {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&-heading {
		margin-bottom: $spacer-xl * 3;
	}

	&-subheading {
		margin-bottom: $spacer-xl * 2;
	}

	&-form-container {
		width: 70%;
		height: 100%;
		display: flex;
		align-items: center;

		@media (max-width: 992px) {
			width: 85%;
		}

		@media (max-width: 992px) {
			width: 100%;
		}
	}
}
