@import '../../design-tokens/scss-variables';

.album-release {
	min-height: calc(100vh - 95.34px);
	display: flex;
	align-items: center;
	padding: $spacer-xl * 3 $spacer-md;
	box-sizing: border-box;

	@media (max-width: 576px) {
		min-height: unset;
	}

	&-container {
		height: 100%;
		display: flex;
		align-items: center;

		@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
			flex-direction: column;
			justify-content: center;
		}

		@media (max-width: 992px) {
			flex-direction: column;
			justify-content: center;
		}
	}

	&-info {
		width: 50%;
		text-transform: uppercase;
		text-align: center;

		@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
			width: 100%;
			order: 2;
		}

		@media (max-width: 992px) {
			width: 100%;
			order: 2;
		}

		.album-release-title {
			margin-bottom: $spacer-xl;
		}

		.album-release-description {
			margin-bottom: $spacer-xxl;
		}

		.album-links {
			display: flex;
			justify-content: center;
		}
	}

	&-img {
		width: 50%;

		@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
			width: 100%;
			margin-bottom: $spacer-xl * 2;
			order: 1;
		}

		@media (max-width: 992px) {
			width: 100%;
			margin-bottom: $spacer-xl * 2;
			order: 1;
		}

		.album-img-container {
			width: 85%;
			margin: 0 auto;

			@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
				width: 70%;
			}

			@media (max-width: 992px) {
				width: 70%;
			}

			@media (max-width: 768px) {
				width: 85%;
			}

			@media (max-width: 576px) {
				width: 90%;
			}
		}
	}
}

.about {
	background-color: $color-trans-black;
	padding: $spacer-xl * 4 $spacer-md;

	@media (max-width: 576px) {
		padding: $spacer-xl * 2 $spacer-md;
	}
}

.merch {
	padding: $spacer-xl * 4 $spacer-md;

	@media (max-width: 576px) {
		padding: $spacer-xl * 2 $spacer-md;
	}

	&-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&-heading {
		margin-bottom: $spacer-xl * 2.5;
	}
}
