@import '../../design-tokens/scss-variables';

.first-name-label,
.last-name-label,
.email-input-label,
.subject-input-label,
.message-input-label {
	font-family: 'IBM Plex Mono', monospace;
	font-size: $size-md;
	font-weight: 200;
	letter-spacing: 1.25px;
	text-transform: uppercase;
	margin-bottom: $spacer-xs;

	@media (max-width: 1200px) {
		font-size: $size-sm;
	}
}
