@import '../../design-tokens/scss-variables';

.subscribe {
	background-color: $color-trans-black;
	box-sizing: border-box;

	&-container {
		display: flex;
		flex-direction: column;
		align-items: center;

		.subscribe-heading {
			margin-bottom: $spacer-xl * 2;
		}

		.subscribe-subheading {
			margin-bottom: $spacer-xl * 1.5;
		}
	}
}
