@import '../../design-tokens/scss-variables';

.tour-dates {
	&-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;

		&::before {
			width: 100%;
			height: 1px;
			background-color: transparentize($color-white, 0.4);
			display: block;
			content: '';
			position: absolute;
			top: 0;
			left: 0;
		}

		@media (max-width: 576px) {
			flex-direction: column;
		}

		&-info {
			width: 100%;
			font-size: $size-md;
			text-transform: uppercase;
			display: flex;
			flex-wrap: wrap;

			@media (max-width: 768px) {
				font-size: $size-sm;
			}

			@media (max-width: 576px) {
				font-size: $size-md;
				text-align: center;
			}

			@media (max-width: 320px) {
				font-size: $size-sm;
			}

			.tour-dates-date {
				width: 100%;
				margin: $spacer-xl 0 $spacer-md;
			}

			.tour-dates-venue {
				width: 50%;
				font-weight: 200;

				@media (max-width: 992px) {
					width: 100%;
					margin-bottom: $spacer-md;
				}
			}

			.tour-dates-location {
				width: 50%;
				font-weight: 200;
				margin-bottom: $spacer-xl;

				@media (max-width: 992px) {
					width: 100%;
				}
			}
		}

		.tour-dates-tickets-btn {
			display: flex;

			@media (max-width: 576px) {
				margin-bottom: $spacer-xl;
			}
		}
	}

	&-item:last-child::after {
		width: 100%;
		height: 1px;
		background-color: transparentize($color-white, 0.4);
		display: block;
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
	}
}
