@import '../../design-tokens/scss-variables';

.heading-text {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.25px;
}

.merch-heading-text,
.subscribe-heading-text,
.tour-heading-text,
.store-heading-text,
.media-heading-text,
.contact-heading-text {
	font-size: $size-xl * 2;

	@media (max-width: 992px) {
		font-size: $size-xl * 1.75;
	}

	@media (max-width: 768px) {
		font-size: $size-xl * 2;
	}

	@media (max-width: 576px) {
		font-size: $size-xl * 1.75;
	}
}

.merch-heading-text,
.subscribe-heading-text {
	@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
		font-size: $size-xl * 2.25;
	}

	@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
		font-size: $size-xl * 2.25;
	}
}
