@import '../../design-tokens/scss-variables';

.modal-overlay {
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
}

.modal {
	width: 60vw;
	height: 15vh;
	background-color: $color-black;
	border: 3px solid transparentize($color-pink, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: $spacer-xl $spacer-sm;
	z-index: 1000;

	&-text {
		font-size: $size-md;
		font-weight: 200;
		text-transform: uppercase;
		text-align: center;
		line-height: 1.25;

		@media (max-width: 768px) {
			font-size: $size-sm;
		}
	}

	&-btn {
		font-size: $size-xxl;
		font-weight: 700;
		color: $color-pink;
		background-color: transparent;
		position: absolute;
		top: -27px;
		right: -26px;
		border: none;
		transition: all 0.3s;

		&:hover {
			color: $color-white;
		}
	}
}

.modal-open {
	overflow: hidden;
}
