@import '../../design-tokens/scss-variables';

header {
	position: sticky;
	top: 0;
	z-index: 100;
}

.navbar {
	display: flex;
	justify-content: space-around;
	padding: $spacer-lg $spacer-lg;
	transition: all 0.1s;

	@media (max-width: 992px) {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&.active {
		background-color: $color-black;
	}

	&-logo {
		width: 175px;

		@media (max-width: 576px) {
			width: 125px;
		}
	}

	&-navigation {
		display: flex;
		align-items: center;

		@media (max-width: 992px) {
			width: 100vw;
			min-height: 100vh;
			background-color: $color-black;
			display: flex;
			flex-direction: column;
			justify-content: center;
			position: fixed;
			top: 0;
			left: -100vw;
			opacity: 0;
			transition: all 0.3s ease-in-out;

			&.active {
				left: 0;
				opacity: 1;
			}
		}

		.nav-social {
			display: none;

			@media (max-width: 992px) {
				display: block;
				justify-content: center;
				margin-top: $spacer-xl * 2;
			}
		}
	}
}

.nav-menu-open {
	overflow: hidden;
}
