@import '../../../design-tokens/scss-variables';

.contact-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	::-webkit-input-placeholder {
		font-size: $size-md;

		@media (max-width: 992px) {
			font-size: $size-sm;
		}

		@media (max-width: 576px) {
			font-size: $size-xs;
		}
	}

	.first-name-input-container,
	.last-name-input-container,
	.email-input-container {
		margin-bottom: $spacer-xl * 2;
	}

	.first-name-input-container,
	.last-name-input-container {
		width: 48%;

		@media (max-width: 768px) {
			width: 100%;
		}
	}

	.email-input-container,
	.message-input-container {
		width: 100%;
	}

	.message-input-container {
		margin-bottom: $spacer-xl * 3;
	}

	&-submit-btn {
		width: 100%;
		display: flex;
		justify-content: center;
	}
}
