@import '../../design-tokens/scss-variables';

.footer {
	background-color: $color-trans-black;
	padding: $spacer-lg $spacer-md $spacer-sm;

	&-nav {
		display: flex;
		justify-content: space-evenly;
		align-items: center;

		@media (max-width: 992px) {
			flex-direction: column;
		}

		&-copyright {
			@media (max-width: 992px) {
				order: 2;
			}
		}

		&-social {
			@media (max-width: 992px) {
				margin-bottom: $spacer-xxl;
				order: 1;
			}
		}
	}
}
