@import '../../design-tokens/scss-variables';

.footer {
	background-color: $color-trans-black;
	padding: $spacer-lg $spacer-md $spacer-sm;

	&-nav {
		display: flex;
		justify-content: center;
		align-items: center;

		@media (max-width: 768px) {
			flex-direction: column;
		}

		&-copyright {
			margin-right: $spacer-xl * 2;

			@media (max-width: 768px) {
				margin-right: 0;
				order: 2;
			}
		}
	}
}
