@import '../../../design-tokens/scss-variables';

.email-input {
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 200;
	letter-spacing: 1.25px;
	text-transform: uppercase;
	box-sizing: border-box;
	border-radius: 0px;
}

.email-input-subscribe {
	width: 500px;
	font-size: $size-lg;
	padding: $spacer-sm $spacer-md;
	border: 1px solid $color-white;
	transition: all 0.3s;

	&:focus {
		border: 1px solid $color-pink;
	}

	@media (max-width: 1200px) {
		font-size: $size-md;
	}

	@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
		font-size: $size-lg;
	}

	@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
		font-size: $size-lg;
	}

	@media (max-width: 992px) {
		font-size: $size-md;
	}

	@media (max-width: 768px) {
		width: 100%;
		font-size: $size-md;
	}
}

.email-input-contact {
	width: 100%;
	font-size: $size-lg;
	color: $color-white;
	background-color: transparent;
	padding-bottom: $spacer-xxs;
	border: none;
	border-bottom: 1px solid $color-white;

	&:focus {
		border-bottom: 1px solid $color-pink;
	}

	@media (max-width: 1200px) {
		font-size: $size-md;
	}

	@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
		font-size: $size-lg;
	}

	@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
		font-size: $size-lg;
	}

	@media (max-width: 992px) {
		font-size: $size-md;
	}

	@media (max-width: 768px) {
		font-size: $size-md;
	}
}
