@import '../../design-tokens/scss-variables';

.nav-links {
	&-list {
		display: flex;
		align-items: center;

		@media screen and (min-height: 500px) and (max-width: 992px) {
			flex-direction: column;
		}

		@media screen and (max-height: 500px) and (max-width: 992px) {
			flex-direction: row;
			margin-top: $spacer-lg * 1.5;

			.nav-links-item {
				margin: 0 $spacer-lg;
			}
		}
	}

	&-item {
		margin: 0 $spacer-md;
		position: relative;

		@media (max-width: 992px) {
			margin: $spacer-md 0;
		}
	}

	&-item:first-child {
		margin-left: 0;
	}

	&-item:last-child {
		margin-right: 0;
	}

	&-link {
		font-size: $size-md;
		color: $color-white;
		font-weight: 300;
		letter-spacing: 1.25px;
		text-transform: uppercase;
		text-decoration: none;
		padding: $spacer-xxs 0;

		&:last-child {
			cursor: pointer;
		}

		&:hover {
			font-weight: 700;
		}

		&.active {
			color: $color-pink;
			font-weight: 700;
		}

		@media (max-width: 992px) {
			font-size: $size-xl * 1.5;
			font-weight: 200;
			text-align: center;
			display: block;
		}

		@media (max-width: 768px) {
			font-size: $size-xl * 1.25;
		}

		@media (max-width: 576px) {
			font-size: $size-xl;
		}

		@media (max-width: 320px) {
			font-size: $size-md;
		}
	}
}
