@import '../../design-tokens/scss-variables';

.copyright {
	font-size: $size-sm;
	color: $color-dark-grey;
	font-weight: 200;
	text-transform: uppercase;

	@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
		font-size: $size-xl;
	}

	@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
		font-size: $size-xl;
	}

	@media (max-width: 768px) {
		order: 2;
	}
}
