@import '../../design-tokens/scss-variables';

.media {
	min-height: calc(100vh - 95.34px);
	display: flex;
	padding: $spacer-xl * 3 $spacer-md;
	box-sizing: border-box;

	@media (max-width: 992px) {
		min-height: unset;
	}

	&-container {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;

		.video-images {
			height: 100%;
			display: flex;
			align-items: center;
		}
	}

	&-heading {
		margin-bottom: $spacer-xl * 3;
	}
}
